body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 300vh; 
    overflow: auto;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('uploads/image.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    filter: blur(5px); 
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.5);
    filter: blur(10px); 
    mix-blend-mode: overlay;
    z-index: 2;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)); /* Increased darkening opacity */
    z-index: 3;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(4px); 
    z-index: 2; 
}

.content {
    position: relative;
    z-index: 3; 
    color: white; 
    text-align: center; 
    padding-top: 20px; 
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.text {
    line-height: 1.5;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 5px;
}

button {
    background-color: #444;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--main-color);
    position: relative; 
    padding: 3rem;
    height: 7rem;
    top: -100px;
    margin-bottom: 2rem;
    border-radius: 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: calc(100% + 50px); 
    height: calc(100% + 50px); 
    background: rgba(35, 69, 145, 0.4); 
    border-radius: inherit; 
    filter: blur(10px); 
    z-index: -1; 
}

.logo {
    max-width: 70px;
    justify-content: flex-end;
    margin-right: 10px;
}

.site-title {
    height: 45%;
    weight: 50%;
    text-align: center; 
    flex-grow: 1; 
    justify-content: flex-end;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse; 
    border-radius: 8px; 
    overflow: hidden; 
}

.tablica {
    width: 100%; 
    aspect-ratio: 1 / 1; 
    background-color: rgba(93, 101, 119, 0.1);
}

th, td {
    padding: 7px;
    text-align: center;
    border: 1px solid #333;
    background-color: rgba(73, 80, 95, 0.1); 
}

th {
    background-color: rgba(73, 80, 95, 0.2);
    font-weight: bold;
}

th, td {
  border: 3px solid rgba(73, 80, 95, 0.71);
}

tr:nth-child(even) {
  background-color: rgba(73, 80, 95, 0.2);
}

nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 80%; 
}

.login-button {
    padding: 12px 25px;
    background-color: #4caf4f00;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    header, main, nav {
        width: 95%; 
    }
}

form {
    width: 300px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"] { 
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block; 
    text-align: center;
    margin-top: 10px;
    text-decoration: none; 
    color: #007bff; 
}

a:hover {
    text-decoration: underline; 
}

.pagination {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin-top: 10px;
    align-items: center;
}


.pagination-item {
    display: flex;
    align-items: left;
}

.pagination-date {
    text-align: center;
    flex: 1; 
    font-size:16px;
}
.first-date {
    text-align: left; 
}

.last-date {
    text-align: right; 
}

.pagination-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #007bff; 
    color: white;
    text-align: center;
    flex: 0 0 auto; 
    min-width: 120px; 
}

.pagination-button.prev {
    background-color: #007bff; 
    color: white;
}

.pagination-button.next {
    background-color: #28a745; 
    color: white;
}


.pagination-button:disabled {
    opacity: 0.5; 
    cursor: default;
}

.pagination-button:hover:not(:disabled) {
    opacity: 0.8;
}